<html>
  <head>
    <title>Orb - Hoofdpagina</title>
    <link rel = 'stylesheet' href = '/static/stylesheet.css' type = 'text/css'/>
  </head>
  <body>
    <div id = 'main'>
      <h1>Quantum orb</h1>
      <p>Welkom bij de quantum orb!</p>
      <p>Hier kun je spelenderwijs leren hoe kwantumcomputers werken.</p>
      <p>
        <button onclick = 'location.href="problem/1"' class = 'question_link'>Opdracht 1: H en Z</button>
        <button onclick = 'location.href="problem/2"' class = 'question_link'>Opdracht 2: zaagtand</button>
      <br/>
        <button onclick = 'location.href="problem/3"' class = 'question_link'>Opdracht 3: 90 graden</button>
        <button onclick = 'location.href="problem/4"' class = 'question_link'>Opdracht 4: wijs naar het kruis</button>
      </p>
    </div>
  </body>
</html>
