<html>
  <head>
    <title>Orb - Splash</title>
    <link rel = 'stylesheet' href = '/static/stylesheet.css' type = 'text/css'/>
  </head>
  <body>
    <div id = 'main'>
      <h1>Quantum orb</h1>
      <p>
        <button onclick = 'location.href="nl/"' class = 'question_link'><img src = '/static/netherlands.svg' height = 25px/> Nederlands</button>
        <button onclick = 'location.href="en/"' class = 'question_link'><img src = '/static/united-kingdom.svg' height = 25px/> English</button>
      </p>
    </div>
  </body>
</html>
