<html>
  <head>
    <title>Orb - Main</title>
    <link rel = 'stylesheet' href = '/static/stylesheet.css' type = 'text/css'/>
  </head>
  <body>
    <div id = 'main'>
      <h1>Quantum Orb</h1>
      <p>Welcome to the Quantum Orb!</p>
      <p>Here you can play with a Qubit to better understand Quantum Computing.</p>
      <p>
        <button onclick = 'location.href="problem/1"' class = 'question_link'>Quiz 1: H and Z</button>
        <button onclick = 'location.href="problem/2"' class = 'question_link'>Quiz 2: sawtooth</button>
      <br/>
        <button onclick = 'location.href="problem/3"' class = 'question_link'>Quiz 3: 90 degrees</button>
        <button onclick = 'location.href="problem/4"' class = 'question_link'>Quiz 4: aim at the target</button>
      </p>
    </div>
  </body>
</html>
