<html>
  <head>
    <title>Orb - Problem 1</title>
    <link rel = 'stylesheet' href = '/static/stylesheet.css' type = 'text/css'/>
    <script src = '/static/communication.js' type = 'text/javascript'></script>
    <script>
      function setup()
      {
        remove_splash()
        orb_set_goal(0,0,-1)
      }

      function reset()
      {
        location.reload()
      }
    </script>
  </head>
  <body onload = 'orb_reset()'>
    <div id = 'wrapper'>
      <div id = 'splash'>
        <p>Use your <b>hands</b> to point the arrow <b>straight up</b>!</p>
        <p><button onclick = 'setup()'>Yes, the arrow points up</button></p>
      </div>
    </div>
    <div id = 'main'>
      <h1>H and Z</h1>
      <p>The goal is to point the arrow downwards.</p>
      <p>You are only allowed to use the following operations.</p>
      <p>
        <button class = 'rot' onclick = 'orb_send_operation("z")'>Z</button>
        <button class = 'rot' onclick = 'orb_send_operation("h")'>H</button>
        <button class = 'rot' onclick = 'reset()'>Reset</button>
      </p>
      <p><button onclick = 'location.href="/"'>Back to start</button></p>
      <p class = 'hidden'><button id = 'success' onclick = 'location.href="/en/congratulations/1/" + window.num_turns'></button></p>
    </div>
  </body>
</html>
